### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [14]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [15]:
players_count = len(purchase_data['SN'].unique()) 
players_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
unique_items = len(purchase_data["Item Name"].unique())
unique_items

179

In [17]:
avg_price = purchase_data["Price"].mean()
avg_price

3.050987179487176

In [18]:
total_num_purchases = purchase_data["Price"].count()
total_num_purchases

780

In [19]:
revenue = purchase_data["Price"].sum()
revenue

2379.77

In [20]:
summary_dict = {"Number of Unique Items": [unique_items],
                                "Average Price": [avg_price],
                                "Total Number of Purchases": [total_num_purchases],
                                "Revenue": [revenue]}
pd.DataFrame.from_dict(summary_dict, orient='index')

                                     0
Number of Unique Items      179.000000
Average Price                 3.050987
Total Number of Purchases   780.000000
Revenue                    2379.770000

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [21]:
BoyGirlOther = purchase_data.groupby('Gender')
Male_Players = BoyGirlOther.get_group('Male')
Male_Players

Unique_Male = len(Male_Players['SN'].unique())
Unique_Male

Female_Players = BoyGirlOther.get_group('Female')
Female_Players

Unique_Female = len(Female_Players['SN'].unique())
Unique_Female

Other_Players = BoyGirlOther.get_group('Other / Non-Disclosed')
Other_Players

Unique_Other = len(Other_Players['SN'].unique())
Unique_Other

Total = Unique_Male + Unique_Female + Unique_Other
Total

Percent_Male = (Unique_Male/Total)
Percent_Male
percentage = "{:.2%}".format(Percent_Male)
percentage

Percent_Female = (Unique_Female/Total)
Percent_Female
percentage = "{:.2%}".format(Percent_Female)
percentage

Percent_Other = (Unique_Other/Total)
Percent_Other
percentage = "{:.2%}".format(Percent_Other)
percentage

Gender_Dictionary = {"Gender": ["Male", "Female", "Other/Non-Disclosed"],"Count": [Unique_Male, Unique_Female, Unique_Other], "Percentage": [Percent_Male, Percent_Female, Percent_Other]}

Gender_Demographics = pd.DataFrame.from_dict(Gender_Dictionary, orient = 'columns')
Gender_Demographics['Percentage'] = Gender_Demographics['Percentage'].map("{:.2%}".format)
Gender_Demographics

                Gender  Count Percentage
0                 Male    484     84.03%
1               Female     81     14.06%
2  Other/Non-Disclosed     11      1.91%

In [22]:
Gender_Demographics.dtypes

Gender        object
Count          int64
Percentage    object
dtype: object


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
Male_Purchase_Count = len(Male_Players['Purchase ID'].unique())
Male_Purchase_Count

Female_Purchase_Count = len(Female_Players['Purchase ID'].unique())
Female_Purchase_Count

Other_Purchase_Count = len(Other_Players['Purchase ID'].unique())
Other_Purchase_Count

Total_Male_Purchase = Male_Players['Price'].sum()
Total_Male_Purchase

Total_Female_Purchase = Female_Players['Price'].sum()
Total_Female_Purchase

Total_Other_Purchase = Other_Players['Price'].sum()
Total_Other_Purchase

Avg_Male_Purchase_Price = Male_Players['Price'].mean()
Avg_Male_Purchase_Price

Avg_Female_Purchase_Price = Female_Players['Price'].mean()
Avg_Female_Purchase_Price

Avg_Other_Purchase_Price = Other_Players['Price'].mean()
Avg_Other_Purchase_Price

Per_Male=Total_Male_Purchase/Unique_Male
Per_Male

Per_Female=Total_Female_Purchase/Unique_Female
Per_Female

Per_Other=Total_Other_Purchase/Unique_Other
Per_Other

Purchase_Dictionary = {'Gender': ['Male', 'Female', 'Other/Non-Disclosed'], 'Purchase Count': [Male_Purchase_Count, Female_Purchase_Count, Other_Purchase_Count], 'Avgerage Purchase Price': [Avg_Male_Purchase_Price, Avg_Female_Purchase_Price, Avg_Other_Purchase_Price], "Total Purchase Value": [Total_Male_Purchase, Total_Female_Purchase, Total_Other_Purchase], "Purchase Total/Person/Gender": [Per_Male, Per_Female, Per_Other]}
Purchase_Analysis = pd.DataFrame.from_dict(Purchase_Dictionary, orient='columns')
Purchase_Analysis

,Gender,Purchase Count,Avgerage Purchase Price,Total Purchase Value,Purchase Total/Person/Gender
0,Male,652,3.017853,1967.64,4.065372
1,Female,113,3.203009,361.94,4.468395
2,Other/Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

age_df = purchase_data.drop_duplicates("SN")

agegroup_df = age_df.groupby("Age Ranges").count()
agegroupv2_df = agegroup_df.rename(columns={"Purchase ID": "Total Count"})

players_percentage = agegroupv2_df["Total Count"]/ Total *100
agegroupv2_df["Percentage of Players"] = players_percentage

age_final_df = agegroupv2_df[["Total Count", "Percentage of Players"]]

age_final_df

            Total Count  Percentage of Players
Age Ranges
<10                  17               2.951389
10-14                22               3.819444
15-19               107              18.576389
20-24               258              44.791667
25-29                77              13.368056
30-34                52               9.027778
35-39                31               5.381944
40+                  12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
bins = [0,9,14,19,24,29,34,39,50]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

purchase_count = purchase_data.groupby("Age Ranges")["Purchase ID"].count()
print(purchase_count)

avg_purchase = purchase_data.groupby("Age Ranges")["Price"].mean()
print(avg_purchase)

total_purchase = purchase_data.groupby("Age Ranges")["Price"].sum()
print(total_purchase)

avg_purchase_total = total_purchase/age_final_df["Total Count"]
print(avg_purchase_total)

FinalPurchase_df = pd.DataFrame({
    "Purchase Count" : purchase_count,
    "Average Purchase Price" : avg_purchase,
    "Total Purchase Value" : total_purchase,
    "Avg Total Purchase per Person": avg_purchase_total})

FinalPurchase_df

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64
Age Ranges
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64
Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64
Age Ranges
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
new_data = purchase_data.set_index("SN")
new_data

purchase_count = new_data.groupby("SN")["Purchase ID"].count()
total_purchase_value = new_data.groupby("SN")["Price"].sum()

purchasesummary_df = pd.DataFrame({
    "Purchase Count": purchase_count,
    "Total Purchase Value": total_purchase_value
})

purchase_final_df = purchasesummary_df.sort_values("Purchase Count", ascending=False)
purchase_final_df.head()

             Purchase Count  Total Purchase Value
SN
Lisosia93                 5                 18.96
Iral74                    4                 13.62
Idastidru52               4                 15.45
Asur53                    3                  7.44
Inguron55                 3                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [46]:
popular_items = purchase_data[["Item ID", "Item Name", "Price"]]

popular_group = popular_items.groupby(["Item ID", "Item Name"])
purchase_count = popular_items["Price"].count()
total_item_price = popular_items["Price"].sum
itempurchase_value = total_item_price/ purchase_count

most_popular_items = pd.DataFrame({
    "Purchase Count": purchase_count, 
    "Item Price": itempurchase_value,
    "Total Purchase Value": itempurchase_value
})

TypeError: unsupported operand type(s) for /: 'method' and 'int'

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame