### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [150]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [151]:
players_count = len(purchase_data['SN'].unique()) 
players_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [152]:
unique_items = len(purchase_data["Item Name"].unique())
unique_items

179

In [153]:
avg_price = purchase_data["Price"].mean()
avg_price

3.050987179487176

In [154]:
total_num_purchases = purchase_data["Price"].count()
total_num_purchases

780

In [155]:
revenue = purchase_data["Price"].sum()
revenue

2379.77

In [156]:
summary_dict = {"Number of Unique Items": [unique_items],
                                "Average Price": [avg_price],
                                "Total Number of Purchases": [total_num_purchases],
                                "Revenue": [revenue]}
pd.DataFrame.from_dict(summary_dict, orient='index')

                                     0
Number of Unique Items      179.000000
Average Price                 3.050987
Total Number of Purchases   780.000000
Revenue                    2379.770000

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [157]:
BoyGirlOther = purchase_data.groupby('Gender')
Male_Players = BoyGirlOther.get_group('Male')
Male_Players

Unique_Male = len(Male_Players['SN'].unique())
Unique_Male

Female_Players = BoyGirlOther.get_group('Female')
Female_Players

Unique_Female = len(Female_Players['SN'].unique())
Unique_Female

Other_Players = BoyGirlOther.get_group('Other / Non-Disclosed')
Other_Players

Unique_Other = len(Other_Players['SN'].unique())
Unique_Other

Total = Unique_Male + Unique_Female + Unique_Other
Total

Percent_Male = (Unique_Male/Total)
Percent_Male
percentage = "{:.2%}".format(Percent_Male)
percentage

Percent_Female = (Unique_Female/Total)
Percent_Female
percentage = "{:.2%}".format(Percent_Female)
percentage

Percent_Other = (Unique_Other/Total)
Percent_Other
percentage = "{:.2%}".format(Percent_Other)
percentage

Gender_Dictionary = {"Gender": ["Male", "Female", "Other/Non-Disclosed"],"Count": [Unique_Male, Unique_Female, Unique_Other], "Percentage": [Percent_Male, Percent_Female, Percent_Other]}

Gender_Demographics = pd.DataFrame.from_dict(Gender_Dictionary, orient = 'columns')
Gender_Demographics['Percentage'] = Gender_Demographics['Percentage'].map("{:.2%}".format)
Gender_Demographics

                Gender  Count Percentage
0                 Male    484     84.03%
1               Female     81     14.06%
2  Other/Non-Disclosed     11      1.91%

In [158]:
Gender_Demographics.dtypes

Gender        object
Count          int64
Percentage    object
dtype: object


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [159]:
Male_Purchase_Count = len(Male_Players['Purchase ID'].unique())
Male_Purchase_Count

Female_Purchase_Count = len(Female_Players['Purchase ID'].unique())
Female_Purchase_Count

Other_Purchase_Count = len(Other_Players['Purchase ID'].unique())
Other_Purchase_Count

Total_Male_Purchase = Male_Players['Price'].sum()
Total_Male_Purchase

Total_Female_Purchase = Female_Players['Price'].sum()
Total_Female_Purchase

Total_Other_Purchase = Other_Players['Price'].sum()
Total_Other_Purchase

Avg_Male_Purchase_Price = Male_Players['Price'].mean()
Avg_Male_Purchase_Price

Avg_Female_Purchase_Price = Female_Players['Price'].mean()
Avg_Female_Purchase_Price

Avg_Other_Purchase_Price = Other_Players['Price'].mean()
Avg_Other_Purchase_Price

Per_Male=Total_Male_Purchase/Unique_Male
Per_Male

Per_Female=Total_Female_Purchase/Unique_Female
Per_Female

Per_Other=Total_Other_Purchase/Unique_Other
Per_Other

Purchase_Dictionary = {'Gender': ['Male', 'Female', 'Other/Non-Disclosed'], 'Purchase Count': [Male_Purchase_Count, Female_Purchase_Count, Other_Purchase_Count], 'Average Purchase Price': [Avg_Male_Purchase_Price, Avg_Female_Purchase_Price, Avg_Other_Purchase_Price], "Total Purchase Value": [Total_Male_Purchase, Total_Female_Purchase, Total_Other_Purchase], "Average Purchase Total per Person by Age Group": [Per_Male, Per_Female, Per_Other]}
Purchase_Analysis = pd.DataFrame.from_dict(Purchase_Dictionary, orient='columns')
Purchase_Analysis


Purchase_Analysis["Average Purchase Price"] = Purchase_Analysis["Average Purchase Price"].map("${0:,.2f}".format)
Purchase_Analysis["Total Purchase Value"] = Purchase_Analysis["Total Purchase Value"].map("${0:,.2f}".format)
Purchase_Analysis["Average Purchase Total per Person by Age Group"] = Purchase_Analysis["Average Purchase Total per Person by Age Group"].map("${0:,.2f}".format)

Purchase_Analysis

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Age Group
0,Male,652,$3.02,"$1,967.64",$4.07
1,Female,113,$3.20,$361.94,$4.47
2,Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [160]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

age_df = purchase_data.drop_duplicates("SN")

agegroup_df = age_df.groupby("Age Ranges").count()
agegroupv2_df = agegroup_df.rename(columns={"Purchase ID": "Total Count"})

players_percentage = agegroupv2_df["Total Count"]/ Total *100
agegroupv2_df["Percentage of Players"] = players_percentage

age_final_df = agegroupv2_df[["Total Count", "Percentage of Players"]]

age_final_df

age_final_df["Percentage of Players"] = age_final_df["Percentage of Players"].map("{0:,.2f}%".format)
age_final_df

<ipython-input-160-d3fc5fbef15d>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_final_df["Percentage of Players"] = age_final_df["Percentage of Players"].map("{0:,.2f}%".format)

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [161]:
bins = [0,9,14,19,24,29,34,39,50]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]

purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)

purchase_count = purchase_data.groupby("Age Ranges")["Purchase ID"].count()
purchase_count

avg_purchase = purchase_data.groupby("Age Ranges")["Price"].mean()
avg_purchase

total_purchase = purchase_data.groupby("Age Ranges")["Price"].sum()
total_purchase

avg_purchase_total = total_purchase/age_final_df["Total Count"]
avg_purchase_total

FinalPurchase_df = pd.DataFrame({
    "Purchase Count" : purchase_count,
    "Average Purchase Price" : avg_purchase,
    "Total Purchase Value" : total_purchase,
    "Avg Total Purchase per Person": avg_purchase_total})

FinalPurchase_df

FinalPurchase_df["Average Purchase Price"] = FinalPurchase_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
FinalPurchase_df["Total Purchase Value"] = FinalPurchase_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
FinalPurchase_df["Avg Total Purchase per Person"] = FinalPurchase_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

FinalPurchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [162]:
new_data = purchase_data.set_index("SN")
new_data

spenders_group = purchase_data.groupby("SN")

purchase_count = new_data.groupby("SN")["Purchase ID"].count()
total_purchase_value = new_data.groupby("SN")["Price"].sum()
average_purchase_price = round(spenders_group["Price"].mean(),2)

purchasesummary_df = pd.DataFrame({"Purchase Count": purchase_count,"Total Purchase Value": total_purchase_value, "Average Purchase Price": average_purchase_price})

purchase_final_df = purchasesummary_df.sort_values("Purchase Count", ascending=False)
purchase_final_df.head()

purchase_final_df["Total Purchase Value"] = purchase_final_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchase_final_df["Average Purchase Price"] = purchase_final_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchase_final_df.head()

             Purchase Count Total Purchase Value Average Purchase Price
SN
Lisosia93                 5               $18.96                  $3.79
Iral74                    4               $13.62                  $3.40
Idastidru52               4               $15.45                  $3.86
Asur53                    3                $7.44                  $2.48
Inguron55                 3               $11.11                  $3.70

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [163]:
popular_items = purchase_data[["Item ID", "Item Name", "Price"]]
popular_group = popular_items.groupby(["Item ID","Item Name"])

purchase_count = popular_group["Price"].count()
total_item_price = popular_group["Price"].sum()
itempurchase_value = total_item_price / purchase_count

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count, "Item Price": itempurchase_value, "Total Purchase Value": total_item_price})
most_popular_items
most_popular_items_sorted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
most_popular_items_sorted

most_popular_items_sorted["Item Price"] = most_popular_items_sorted["Item Price"].astype(float).map("${:,.2f}".format)
most_popular_items_sorted["Total Purchase Value"] = most_popular_items_sorted["Total Purchase Value"].astype(float).map("${:,.2f}".format)
most_popular_items_sorted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [164]:
most_popular_items_sortedPV = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
most_popular_items_sortedPV.head()

most_popular_items_sortedPV["Total Purchase Value"] = most_popular_items_sortedPV["Total Purchase Value"].astype(float).map("${:,.2f}".format)
most_popular_items_sortedPV["Item Price"] = most_popular_items_sortedPV["Item Price"].astype(float).map("${:,.2f}".format)

most_popular_items_sortedPV.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

In [165]:
# You must include a written description of three observable trends based on the data.

"1. The Final Critic item is the most profitable item, as 19 items were sold for a total purchase value of $59.99/""
"2. Lisosia93 was the top spender and purchased 5 items for a total purchase value of $18.96.""
"3. The age group with the highest spenders were between the ages of 20 to 24. Those in this age group spent a total of $1,114.06."

SyntaxError: EOL while scanning string literal (<ipython-input-165-c341f495eab5>, line 3)